{
  "extends": ["stylelint-config-recommended", "stylelint-config-standard", "stylelint-config-standard-scss", "stylelint-config-styled-components"],
  "configBasedir": "./develop",
  "customSyntax": "@stylelint/postcss-css-in-js"
}
